@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-black/100;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slideInUp {
    animation: slideInUp 0.5s ease-out forwards;
    opacity: 0;
  }

  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
